.button {
    -fx-background-color: #B22222;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 0;
}

.button:hover {
    -fx-background-color: #8B0000;
}

.background {
    -fx-background-color: #ffffff;

    -fx-pref-height: 400;
    -fx-pref-width: 300;
}

.title {
    -fx-background-color: #B22222;
    -fx-pref-height: 60;
    -fx-pref-width: 300;
}

.title-text {
    -fx-text-fill: #ffffff;
    -fx-font-size: 20pt;
}
